.container{
    width: 60%;
      margin: auto;
      margin-bottom: 0;
}
.text{

    display: inline-block;
    width: 40%;
    padding: 10px 0;
    background-color: rgb(221, 221, 221);
}
.number{

    display: inline-block;
    width: 30%;
    padding: 10px 0;
    background-color: rgb(221, 221, 221);
}
.action{

    display: inline-block;
    width: 10%;
    padding: 10px 0;
    background-color: rgb(221, 221, 221);
    cursor: pointer;
}